/* ##Typography */

h1 {
  color: $primary-color;
  font-family: $heading-font-stack;
  font-size: 3.4em;
  text-align: center;
  padding-bottom: 1em;
}

p {
  color: $secondary-color;
  font-family: $paragraph-font-stack;
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.6;
  padding-bottom: 1em;
}
